{% extends 'images/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %} 
    <h1> Upload an Image </h1>	
    <p> If the option you need for microscope settings, lab, or organism is not 
    present please email 
    {{ support_name }} at 
    <a href='mailto:{{ support_email }}?subject=Missing Information from Image Database'>
    {{ support_email }}</a> with what information is missing and what value(s) 
    you need. You will not be able to upload your image until you do so. You 
    may select the other option if the substratum or vessel you need are not
    present.
    You may add an imager or project by typing the name in the box and selecting
    create. Fields with an * are required. </p> 
    
    <h2> Experiment Name Note </h2>
    The experiment name must be unique. For now, the names are listed below,
    so please pick a name that is not listed.
    I apologize for the inconvenience and this issue will be solved shortly.
    Thanks for your patience.
    
    <form action = "" method="POST" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            <h3> Experiment Specific Information </h3>
            <p><b>Taken experiment names: {{ experiment_names }}</b></p>
            {{ forms.experiment_form|crispy }}
            <h3> Image Specific Information </h3>
            {{ forms.image_form|crispy }}
            <input type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ forms.image_form.media }}
{{ forms.experiment_form.media }}
{% endblock %}

