{% extends 'images/base.html' %}
{% load static %}
{% block content %}
    <h1> Upload an Image </h1>	
    <p> If the option you need for lab or organism is not present please email 
    {{ support_name }} at 
    <a href='mailto:{{ support_email }}?subject=Missing Information from Image Database'>
    {{ support_email }}</a> with what information is missing and what value 
    you need. You will not be able to upload your image until you do so. You 
    may select the other option if __________ or _____ are not present.</p>
    
    <form action = "" method="POST" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            {{ forms.experiment_form.as_p }}
            {{ forms.image_form.as_p }}
            <input type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ forms.image_form.media }}
{{ forms.experiment_form.media }}
{% endblock %}

