{% extends 'images/base.html' %}
{% load static %}
{% block content %}
<h1>Delete an Image </h1>
<h2> Image Information </h2>
{% load thumbnail %}
<img src="{{ image.large_thumb.url }}"
     alt="An error occured while loading the image" />
</br>
<ul>
    {% for info in get_image_details %}
        <li> <b>{{ info.0 }}</b> {{ info.1 }} </li>
    {% endfor %}

</ul>
</br>

<form method="post">
  {% csrf_token %} 
  <p><b>Are you sure you want to delete the given image?
  This action cannot be undone.</b></p> 
  <input type="submit" value="Confirm"> 
</form> 

{% endblock %}
