{% extends 'images/base.html' %}
{% load static %}
{% block content %}
<h1>Delete an Image </h1>
<h2> Image Information </h2>

<!-- | safe does not escape html characters. The image details are inserted as
an html string -->
{{ image_details | safe }}
</br>

<form method="post">
  {% csrf_token %} 
  <p><b>Are you sure you want to delete the given image? </b>
  <b style="color:red">This action cannot be undone.</b></p> 
  </p>Upon successful deletion, you will be redirected to the upload page.</p> 
  <input type="submit" value="Confirm"> 
</form> 

{% endblock %}
