{% extends 'images/base.html' %}
{% load images_extra %}
{% block content %}
<h1> Image information: </h1>
{% load thumbnail %}
<img src="{{ image.large_thumb.url }}"
     alt="An error occured while loading the image" />
</br>
<ul>
    {% for info in get_image_details %}
        <li> <b>{{ info.0 }}</b> {{ info.1 }} </li>
    {% endfor %}
    <li><b> Raw Data Path: </b>{{ image.path_to_raw_data }} </li>
    {% if user.is_superuser %}
        <li><b>Release date: </b>{{ image.release_date }} </li>
        <li> <a href={% url 'images:upload_success' experiment=image.experiment.pk %}> Upload/view </a> other images associated with experiment </li>
        <li> <a href={% url 'images:update_image' pk=image.pk %}> Update image information </a> </li>
    {% endif %}

</ul>
</br>
<div id="upload-new-insert">
</div>

{% endblock %}
