{% extends 'images/base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %} 



{% if user.is_superuser or image.is_editable%}
    <h1> Update Image Content </h1>
    {% if user.is_superuser %}
    <p> <b>You are editing this image as an admin.</b>
    As an admin, you are able to edit any image regardless of the upload date.
    This image was uploaded on {{ image.date_uploaded }}, which means regular
    users 
        {% if image.is_editable %}
            will be able to edit it.
        {% else %}
            won't be able to edit it.
        {% endif %}
    General users can only edit images within 24 hours of it being uploaded. 
    </p>
    {% endif %}
    
    {# All users will see this content if date uploaded correct #}
    <p> You are updating info for the image with the id {{ image.id }} and in the experiment {{ image.experiment }} with the fields: </p>
    <ul>
    {% for data in experiment_data %}
        <li> <b> {{ data.0 }} </b> {{ data.1 }} </li>
    {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Update">
    </form>
{% else %}
    <h1> Error </h1>
    <p> You do not have permission to view this page </p>
{% endif %}

{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}


