# Separate the allowed hosts by list of commas
WEB_ALLOWED_HOSTS=list,of,allowed,hosts
MEDIA_ROOT=/tmp/images/files
STATIC_ROOT=/tmp/static/files
SYNONYM_FILE=synonyms.txt
DB_NAME=sample_database_name
DB_USER=sample_user
DB_PASS=sample_password
DB_HOST=docker_db_container
DB_PORT=5432
SUPPORT_NAME='Jane Doe'
SUPPORT_EMAIL=JaneDoeEmail@planets.edu
DEVELOPER_NAME='Jane Doe'
DEVELOPER_EMAIL='JaneDoeEmail@planets.edu'

