{% extends 'images/base.html' %}
{% block content %}
<h1> Image information: </h1>
<ul>
    <li><b>Name: </b>{{ image_name }} </li>
    <li><b>Lab: </b> {{ image_lab }} </li>
    <li><b>Microscope: </b> {{ image.microscope_setting }} </li>
    <li><b>Description: </b> {{ image.brief_description }} </li>
    <li><b>Date added: </b> {{ image.date }} </li>

</ul>
{% load thumbnail %}
<img src="{{ image.document|thumbnail_url:'details' }}"
     alt="An error occured while loading the image" />
</br>
</br>
{% endblock %}
