{% extends 'images/base.html' %}
{% load images_extra %}

{% block content %}
<h1> Upload Success </h1>
<p> Your image has been successfully uploaded to experiment {{ experiment }}. Would you like to upload another with these same features? </p>
<ul>
    {% for info in get_experiment_details %}
        <li> {{ info }} </li>
    {% endfor %}
</ul>
<p><b> <a href={% url 'images:upload_image_to_experiment' pk=experiment.pk %}>Upload Another Image </a> </b> <p>

<h2> Associated Images </h2>
{% load thumbnail %}
{% for image in get_image_details %}
<a href="{% url 'images:image_details' pk=image.pk %}">
<img src="{{ image.thumb }}"
     alt="An error occured while loading the image" />
</a>
<ul>
     {% for info in image.details %}
        <li> {{ info }} </li>
    {% endfor %}
    {% if user.is_superuser %}
        <li>Release date: {{ image.release_date }} </li>
    {% endif %}

</ul>
</br>

{% endfor %}
</br>

{% endblock %}
