{% extends 'images/base.html' %}
{% load images_extra %}

{% block content %}
<h1> Upload Success </h1>
<p> Your image has been successfully uploaded. Would you like to upload another to the same experiment? </p>
<p> The features staying the same will be: </p>
<ul>
    <li> Project: {{ experiment.project }} </li>
    <li> Lab: {% get_lab_list %} </li> 
    <li> Organism: {% get_organism_list %} </li>
    <li> Vessel: {{ experiment.vessel }} </li>
    <li> Growth Medium: {{ experiment.growth_medium }} </li>
    <li> Growth Substriatum: {{ experiment.substratum }} </li>
</ul>
<p> TODO: put a button to upload another image here <p>

<h2> Image Information </h2>
<ul>
     {% for info in get_details %}
        <li> {{ info }} </li>
    {% endfor %}
</ul>
{% endblock %}
