<h1> Image was successfully uploaded. </h1>
<ul>
    <li><b>Name: </b>{{ image.image_name }} </li>
    <li><b>Lab: </b> {{ image.lab }} </li>
    <li><b>Description: </b> {{ image.brief_description }} </li>
    <li><b>Date added: </b> {{ image.date }} </li>

</ul>
{% load thumbnail %}
{% thumbnail image.document 400X400 upscale as thumb %}
<img src="{{ thumb.url }}"
    width="{{ thumb.width }}"
    height="{{ thumb.height }}" />
</br>
</br>
<a href="/images/upload-image">Upload another image</a>
