{% extends 'images/base.html' %}
{% load static %}
{% block content %}
    <h1> Upload an Image </h1>	
    <form action = "" method="POST" enctype="multipart/form-data">
        <div>
            {% csrf_token %}
            {{ forms.image_form.as_p }}
            {{ forms.experiment_form.as_p }}
            <input type="submit" value="Submit" />
        </div>
    </form>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}
{% endblock %}

