{% extends 'images/base.html' %}

{% load thumbnail %}
<div id='template-content>
{% block content %}
<h1> Images for lab: {{ lab_name }} </h1>

    {% if image_list %}
    <ul>
        {% for image in image_list %}
            <li> {{ image.image_name }} </li>
            <a href="{% url 'images:image_details' pk=image.pk %}">
            <img src="{{ image.document|thumbnail_url:'list' }}" alt="" ></a>
            </br>
            </br>
        {% endfor %}
    </u>
    {% else %}
            <p> There are no images for this lab </p>
    {% endif %}
{% if is_paginated %}
  <ul class="pagination">
    {% if image_list.has_previous %}
      <li><a href="?page={{ image_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if image_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if image_list.has_next %}
      <li><a href="?page={{ image_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}

</div>
