{% extends 'images/base.html' %}

{% load thumbnail %}

{% block content %}
<h1> Images for lab: {{ lab_name }} </h1>

    {% if image_list %}
    <ul>
        {% for image in image_list %}
            <li> {{ image.image_name }} </li>
            <a href="{% url 'images:image_details' pk=image.pk %}">
            <img src="{{ image.document|thumbnail_url:'list' }}" alt="" ></a>
            </br>
            </br>
        {% endfor %}
    </u>
    {% else %}
            <p> There are no images for this lab </p>
    {% endif %}

{% endblock %}

